:root{
    --cor-de-fundo: #ffffff;
    --texto: #000000;

}
/* criando um site */
body{
    background-color:var(--cor-de-fundo);
    color: var(--texto);
}
.img-intro{
    width: 500px;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#equipe{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.foto-equipe{
    width: 40%;
}

header a{
color: black;
text-decoration: none;

}